---
title: Pivotal Cloud Foundry Log Search
owner: PCF Metrics
---

<p class="note warning"><strong>IMPORTANT: </strong>: The PCF Log Search tile is deprecated, and no further development will be made against this product.</p>

This documentation is for the Pivotal Cloud Foundry (PCF) [Log Search](https://network.pivotal.io/products/pivotal-cloud-foundry-log-search) tile.

PCF Operators can use the PCF Log Search tile to analyze logs from different tiles and components running in the same PCF environment.  It is
not intended to be a general purpose log analysis system, or to centralize logs from multiple PCF Foundations.

PCF Log Search is based on the Elastic ELK stack, with customization to receive, parse, and standardize data from
other tiles. Operators use the Kibana component of PCF Log Search to find and visualize system data.

PCF Log Search can also selectively forward this data to other log analysis systems.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about <a href="https://network.pivotal.io/products/pivotal-cloud-foundry-log-search">PCF Log Search</a>:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.11</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 28, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Elasticsearch v2.3.5, Logstash v2.3.3, Kibana v4.5.3, Redis v3.2.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>v1.7.16 or later, v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS and vSphere</td>
    </tr>
</table>

##<a id="guide"></a>PCF Log Search User Guide

See the following topics for details about installing, scaling, and using PCF Log Search:

* [Installing PCF Log Search](./installing.html)
* [Scaling PCF Log Search](./scaling.html)
* [Using PCF Log Search](./using.html)
* [PCF Log Search Tags Dictionary](./search-guide.html)
* [PCF Log Search Application Security Groups](./app-sec-groups.html)
* [Resources](./resources.html)
* [Troubleshooting PCF Log Search](./troubleshooting.html)
* [Release Notes](./release.html)

## <a id="elastic"></a>Elastic Documentation

See the following Elastic documentation about each component of the ELK stack:

* [Elastic Elasticsearch 2.3 Documentation](https://www.elastic.co/guide/en/elasticsearch/reference/2.3/index.html)
* [Elastic Logstash 2.3 Documentation](https://www.elastic.co/guide/en/logstash/2.3/index.html)
* [Elastic Kibana 4.5 Documentation](https://www.elastic.co/guide/en/kibana/4.5/index.html)
