---
title: Pivotal Cloud Foundry&reg; Log Search
owner: London Services
---

<p class="note"><strong>Note</strong>: The PCF Log Search tile replaces stayUp.io ELK (Elasticsearch, Logstash, Kibana) for Pivotal Cloud Foundry.</p>

This documentation is for the Pivotal Cloud Foundry&reg; (PCF) Log Search tile, part of the 
[PCF Metrics suite](https://network.pivotal.io/products/pcf-metrics) free entitlement.

PCF Operators can use the Log Search tile to analyze logs from different tiles and components running in the same PCF Foundation.  It is
not intended to be a general purpose log analysis system, or to centralize logs from multiple PCF Foundations.

PCF Log Search is based on the Elastic ELK stack, with customization to receive, parse and standardize data from 
other tiles. Operators use the Kibana component of Log Search to find and visualize system data.

PCF Log Search can also selectively forward this data on to other log analysis systems.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Current <a href="https://network.pivotal.io/products/pcf-metrics">PCF Log Search</a> details:</dt>
<dd><strong>Version</strong>: v1.0.0 </dd>
<dd><strong>Release Date</strong>: June 2016</dd>
<dd><strong>Software component version</strong>: Elasticsearch 2.2.0, Logstash 2.3.1, Kibana 4.4.0, Redis 2.8.4</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.7.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>:  1.7.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

##<a id="guide"></a>PCF Log Search User Guide

See the following topics for details on installing, scaling, and using PCF Log Search:

* [Installing PCF Log Search](./installing.html)
* [Scaling PCF Log Search](./scaling.html)
* [Using PCF Log Search](./using.html)
* [PCF Log Search Tags Dictionary](./search-guide.html)
* [Release Notes](./release.html)

## <a id="elastic"></a>Elastic Documentation

See these links for Elastic documentation on each component of the ELK stack:

* [Elastic Elasticsearch 2.2.0 Documentation](https://www.elastic.co/guide/en/elasticsearch/reference/2.2/index.html)
* [Elastic Logstash Documentation](https://www.elastic.co/guide/en/logstash/2.2/index.html)
* [Elastic Kibana 4.4 Documentation](https://www.elastic.co/guide/en/kibana/4.4/index.html)
