---
title: Installing Pivotal Cloud Foundry&reg; Log Search
owner: London Services
---

##<a id="installation"></a>Install via Pivotal Ops Manager

To install PCF Log Search, follow the procedure for installing Pivotal Ops Manager tiles:

0. Download the product file from [Pivotal Network](https://network.pivotal.io/).
0. Upload the product file to your Ops Manager installation.
0. Click **Add** next to the uploaded product description in the Available Products view to add this product to your staging area.
0. Add `Log Search` Tile version `0.8-alpha`.  
0. Configure Assign AZs and Networks.
0. Configure Settings
  0. Log retention period in days
  0. IP of the OpsManager Director - you can get this from the Ops Manager Director Tile > Status tab
  0. NATS Credentials for the OpsManager Director - you can get this from the Ops Manager Director Tile > Credentials tab
0. Apply changes to install `Log Search`

## Application Logs

After you have installed the product, it automatically subscribes to your Elastic Runtime Firehose and starts consuming all application logs.

##<a id="elastic-runtime"></a>Elastic Runtime and Data Service Component Logs

You can configure the Elastic Runtime and other Data Service tiles to send their component logs to the Log Search router via syslog over TCP.

<p class="note"><strong>Note</strong>: Syslog over UDP is not supported</p>


0.  Navigate to `Log Search` Tile > Status, and find the `Router` VM's IP.
0.  Update `Pivotal Elastic Runtime` Tile > System Logging endpoints using above IP, port `514` and protocol `TCP`.
0.  Update `RabbitMQ for PCF` Tile > Syslog using above IP, port `514`.
0.  Update other tiles Syslog forwarder settings using above IP, port `514` and protocol `TCP`.
0.  Apply Changes

##<a id="kibana"></a>Kibana

Kibana is a web application that allows you to search logs sent to Log Search, construct visualizations of searches and construct dashboards from collections of visualizations.

If you have the Elastic Runtime installed; Kibana is available at:

```
https://logsearch.<system_domain>
```

You can find the Kibana login credentials on the Log Search > Credentials tab in Ops Manager; as part of the Router job

##<a id="installing-elastic-runtime"></a>Install without Elastic Runtime

It is possible to install the Log Search tile without also installing the Elastic Runtime.

In this case you will need to configure your own SSL certificate, DNS settings and Load Balancer as detailed below:

0. Configure a DNS entry (eg, logsearch.mydomain.com) to resolve to your load balancer.
0. Register a SSL certificate for logsearch.mydomain.com with your load balancer
0. Configure your load balancer to forward traffic to https://logsearch.mydomain.com:443 to the `Router` VM's IP, port 80.

<p class="note"><strong>Note</strong>: Your load balancer must do the SSL termination, and forward unencrypted HTTP traffic to the router.</p>
