---
title: Maintaining Pivotal Cloud Foundry&reg; Log Search
owner: London Services
---

<a id="monitoring"></a>
## Monitoring Log Search cluster


<a id="backing-up"></a>
## Backing up Kibana dashboards
