---
title: Release Notes
owner: London Services
---

## <a id="latest"></a> 1.0.0
**Release Date: June 2016**

### Known Issues

* None

### Notes

* The Log Search tile for Pivotal Cloud Foundry (PCF) is now generally avaialable. 

## <a id="latest"></a> 0.8-alpha
**Release Date: March 2016**

### Known Issues

* None

### Notes

* Focused on operators log analysis needs
* Support for common data services (MySQL, RabbitMQ, and Redis)
* Latest Elastic ELK stack - E & L v2.2.0, K v4.4.0


