---
title: Release Notes
owner: London Services
---

## <a id="latest"></a> 1.0.0
**Release Date: June 2016**

### Known Issues

* During a stemcell upgrade there will be 2 x ~2 min (time it takes your IaaS to create new VM) intervals where logs 
  are NOT ingested.  This happens when the singleton Queue and Router nodes are recreated.  There is unfortunately
  no workaround at this stage.
  
  ![Periods of no indexing during stemcell upgrade screenshot](images/no_ingesting_intervals_during_stemcell_update.png) 

### Notes

* The Log Search tile for Pivotal Cloud Foundry (PCF) is now generally avaialable. 

