---
title: Troubleshooting Pivotal Cloud Foundry&reg; Log Search
owner: London Services
---

This topic provides recommendations for troubleshooting PCF Log Search. 

##<a id="no-logs"></a>No Logs on Kibana

### Symptoms

No logs appear in Kibana. With this behavior, you may also detect the following:

* Queue memory usage increases constantly
* Queue SWAP usage is high
* Queue disc usage increases constantly
* Queue Persistent Disk is full
* Queue VM fails

### Explanation: Queue Overflow

The symptoms above indicate queue overflow. Possible causes of queue overflow include:

* Not enough parsers: more data comes in than gets out.
* Parsers cannot connect to the queue: no data gets out.
* Elasticsearch disks are full: parsers cannot insert new logs.
* Elasticsearch is in a red state and does not accept new data.

#### Redis Backup File Behavior

[Redis](http://redis.io) keeps a backup file of the queue at `/var/vcap/store/queue/redis-appendonly.aof`. The backup file contains every operation performed on the queue.

Redis regularly purges redundant entries from the file, which helps keep it small enough to load. But as the queue overflows, the backup file becomes larger. Eventually, the size of the file exceeds the available RAM and the queue fails to start. This is a known issue with the current queue configuration.

### Solution

To recover, you must remove the Redis backup file and restart the queue with monit: 

<p class="note"><strong>Note</strong>: Performing this procedure causes you to lose the data stored in the queue. Scale up your cluster to prevent this from happening in the future.</p>

1. SSH into the queue VM and become `root`.
1. Stop the Redis queue: <pre class="terminal">$ monit stop queue\_redis</pre>
1. Remove the backup file: <pre class="terminal">$ rm /var/vcap/store/queue/redis-appendonly.aof</pre>
1. Restart the Redis queue: <pre class="terminal">$ monit start queue_redis</pre>

